{% extends 'base/base.html' %}

{% block title %}
    List of Products - Your Title
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="text-center">
        <div id="loginErrors">
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field, errors in form.errors.items %}
                        {{ field }}:
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                        <br>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="modal-body">
            <form id="loginForm" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}
