<footer>
    <div class="container">
      <footer class="text-center text-lg-start" style="background-color: #db6930;">
        <div class="container d-flex justify-content-center py-5">
          <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
            <i class="fa fa-facebook-f"></i>
          </button>
          <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
            <i class="fa fa-youtube"></i>
          </button>
          <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
            <i class="fa fa-instagram"></i>
          </button>
          <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
            <i class="fa fa-twitter"></i>
          </button>
        </div>

        <!-- Copyright -->
        <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <span class="text-white">Shyaka Olivier</span>
        </div>
        <!-- Copyright -->
      </footer>

    </div>
  </footer>